
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1500624580866'); /* IE9*/
  src: url('iconfont.eot?t=1500624580866#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1500624580866') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1500624580866') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1500624580866#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  color:#bcbcc3;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xuanze:before { content: "\e72e"; }

.icon-didian:before { content: "\e609"; }

.icon-shijian:before { content: "\e60b"; }

.icon-icon-laber:before { content: "\e60c"; }

.icon-icon-laber1:before { content: "\e60d"; }

.icon-icon-laber2:before { content: "\e60e"; }

.icon-icon-laber3:before { content: "\e60f"; }

.icon-icon-wo-demand:before { content: "\e610"; }

.icon-icon-wo-feedback:before { content: "\e611"; }

.icon-icon-wo-help:before { content: "\e612"; }

.icon-icon-wo-signout:before { content: "\e613"; }

.icon-wo-con-room:before { content: "\e615"; }

.icon-wo-con-mission:before { content: "\e617"; }

.icon-wo-con-mission-:before { content: "\e61a"; }

.icon-icon-search:before { content: "\e61b"; }

.icon-icon-download:before { content: "\e61c"; }

.icon-icon-back:before { content: "\e61d"; }

.icon-icon-pen:before { content: "\e61e"; }

.icon-icon-pen-:before { content: "\e61f"; }

.icon-icon-ok:before { content: "\e620"; }

.icon-icon-revise:before { content: "\e621"; }

.icon-icon-timelength:before { content: "\e622"; }

.icon-icon-add:before { content: "\e623"; }

.icon-xq-user:before { content: "\e624"; }

.icon-xq-unit:before { content: "\e625"; }

.icon-xq-time:before { content: "\e626"; }

.icon-xq-recorder:before { content: "\e627"; }

.icon-xq-place:before { content: "\e628"; }

.icon-xq-nei:before { content: "\e629"; }

.icon-icon-select:before { content: "\e62a"; }

.icon-icon-selected:before { content: "\e62b"; }

.icon-icon-del:before { content: "\e62c"; }

.icon-icon-block:before { content: "\e62d"; }

.icon-icon-timelength1:before { content: "\e62e"; }

.icon-icon-tel:before { content: "\e62f"; }

.icon-icon-right:before { content: "\e630"; }

.icon-icon-more:before { content: "\e631"; }

.icon-circle-repeat:before { content: "\e632"; }

.icon-circle-ok:before { content: "\e633"; }

.icon-circle-del:before { content: "\e634"; }

.icon-waitcup:before { content: "\e635"; }

.icon-agent:before { content: "\e636"; }

.icon-xq-lock:before { content: "\e639"; }

.icon-xq-phone:before { content: "\e63a"; }

.icon-ewm-error:before { content: "\e63c"; }

.icon-ewm-meeting:before { content: "\e63d"; }

.icon-false:before { content: "\e63e"; }

.icon-true:before { content: "\e63f"; }

