/*微信绑定状态*/
.bind-account{
    width:340px;
    text-align:center;
}
.bind-account .unorganized{
    font-size:18px;
    color:#333333;
}
.bind-account .invite-join{
    font-size:14px;
    color:#959595;
    margin-bottom: 48px;
}
.bind-account .form-group .open{
    font-size:16px;
    color:#ffffff
}
.bind-account .form-group .bind{
    font-size:16px;
    color:#1896f0;
    background-color:#fff;
}
.input-group .form-control:not(:last-child){
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}