/*微信注册*/
.weixin-register{
    width: 340px;
}
#login_container{
    width: 100%;
    height: 340px;
}
.register-QuickMark{
    width: 100%;
    text-align: center;
    height: 340px;
    background-color: #fff;
}
.weixin-text{
    text-align: center;
    border-bottom: 1px solid #d9d9d9;
    padding: 16px  0  17px 0;
    font-size:14px;
    color:#333;
}
.iphone-link{
    text-align: center;
    font-size:14px;
    color:#1896f0;
    padding: 16px 0 17px 0;
}
.iphone-link p{
    outline: none;
    cursor: pointer;
}
.backLogin{
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-align:center ;
    font-size:16px;
    color:#1896f0;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #1896f0;
}
.backLogin p{
    outline: none;
}