<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkwin.publish.mapper.PlatformLabelProgramMiddleMapper">
  <resultMap id="BaseResultMap" type="com.thinkwin.common.model.publish.PlatformLabelProgramMiddle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="program_label_id" jdbcType="VARCHAR" property="programLabelId" />
    <result column="program_id" jdbcType="VARCHAR" property="programId" />
  </resultMap>

 <delete id="delPlatformLabelProgramMiddle">
   delete from platform_label_program_middle where 1 = 1
     <if test="platformProgramIds != null">
     AND program_id in
   <foreach collection="platformProgramIds" item="id" separator="," open="(" close=")">
     #{id}
   </foreach>
     </if>
 </delete>

  <delete id="deletePlatformLabelProgramMiddleByLabelId" parameterType="String">
    delete from platform_label_program_middle where program_label_id = #{platformProgrameLabelId}
  </delete>

    <select id="selPlatformProgramLabelIdsByprogramId" resultType="String">
        SELECT program_label_id FROM platform_label_program_middle where program_id = #{platformProgramId}
    </select>

    <select id="selectPlatformProgrameIdsByLabelId" resultType="String">
         SELECT program_id FROM platform_label_program_middle where program_label_id = #{platformProgrameLabelId}
    </select>
</mapper>