.ztree * {
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.ztree {
  margin: 0;
  color: #333;
}

.ztree li {
  padding: 0;
  margin: 0;
  margin-left: 5px;
  list-style: none;
  line-height: 40px;
  text-align: left;
  white-space: nowrap;
  outline: 0;
}

.ztree li ul {
  margin: 0;
  padding: 0 0 0 18px;
}

.ztree li a {
  position: relative;
  z-index: 1;
  padding: 1px 3px 0 0;
  margin: 0;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  color: #333;
  background-color: transparent;
  text-decoration: none;
  vertical-align: top;
  display: inline-block;
  width: auto;
  margin-left: 6px;
}

.ztree li a:hover {
  text-decoration: underline;
}

.ztree li a.curSelectedNode {
  /*color: black;*/
  /*height: 40px;*/
  /*line-height: 40px;*/
  /*border: 0px  #aaa solid;*/
  /*opacity: 0.8;*/
  /*background-color: white;*/
}

.ztree li a.curSelectedNode_Edit {
  padding-top: 0;
  background-color: white;
  color: black;
  height: 40px;
  border: 1px  white solid;
  padding-left: 10px;
  right:10px ;
  /*opacity: 0.8;*/
}

.ztree li a.tmpTargetNode_inner {
  padding-top: 0px;
  height: 40px;
  border: 1px #008191 solid;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.ztree li a input.rename {
  height: 30px;
  width:auto;
  font-family:MicrosoftYaHei;
  font-size:14px;
  font-color:#333333;
  text-align:left;
  padding: 0;
  margin: -2px;
  border: none;
  border-bottom: 2px #2da8fa solid;
}

.ztree li span {
  line-height: 16px;
  margin-right: 2px;
  font-size: 14px;
  color: #222222;
  text-align: left;
}

.ztree li span.button {
  line-height: 40px;
  margin: 0;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  border: 0 none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  position: relative;
}
.ztree li span.button{
  font-size: 14px;
  line-height: 1;
  font-family: "iconfont" !important;
}
.ztree li span.button.root_open{
  margin-top: 5px;
  color:#a1a1a1;
  margin-left: 5px;
  font-size:11px;
}
.ztree li span.button.root_open:before{
  content: "\e65b";
  -webkit-font-smoothing: antialiased;
}

.ztree li span.button.root_close {
  color:#a1a1a1;
  font-size:11px;
  margin-left: 5px;
  transform:rotate(-90deg);
}
.ztree li span.button.root_close:before{
  content: "\e65b";
  -webkit-font-smoothing: antialiased;
}

.ztree li span.button.root_close {
  margin-top: -5px;
}
ztree li span.button:before{
  content: "\e65e";
  -webkit-font-smoothing: antialiased;
}
.ztree li span.button.roots_open{
  margin-top: 5px;
  color:#a1a1a1;
  margin-left: 5px;
  font-size:11px;
}
.ztree li span.button.roots_open:before{
  content: "\e65b";
}

.ztree li span.button.roots_close {
  color:#a1a1a1;
  font-size:11px;
  margin-left: 5px;
  margin-top: -5px;
  transform:rotate(-90deg);
}
.ztree li span.button.roots_close:before {
  content: "\e65b";
}

.ztree li span.button.center_open{
  margin-top: 5px;
  color:#a1a1a1;
  font-size:11px;
}
.ztree li span.button.center_open:before{
  content: "\e65b";
}

.ztree li span.button.center_close{
  color:#a1a1a1;
  font-size:11px;
  margin-top: -6px;
  transform:rotate(-90deg);
}
.ztree li span.button.center_close:before{
   content: "\e65b";
}
.ztree li span.button.bottom_open{
  margin-top: 6px;
  color:#a1a1a1;
  font-size:11px;
}
.ztree li span.button.bottom_open:before{
  content: "\e65b";
}

.ztree li span.button.bottom_close {
  margin-top: -6px;
  color:#a1a1a1;
  font-size:11px;
  transform:rotate(-90deg);
}
.ztree li span.button.bottom_close:before{
  content: "\e65b";
}

/*.ztree li span.button.noline_open {*/
  /*background-image: url("../images/down.png");*/
/*}*/

/*.ztree li span.button.noline_close {*/
  /*background-image: url("../images/right.png");*/
/*}*/

.ztree li span.button.root_docu {
  background: none;
}

.ztree li span.button.roots_docu {
  background-position: -56px 0;
}

.ztree li span.button.center_docu {
  background-position: -56px -18px;
}

.ztree li span.button.bottom_docu {
  background-position: -56px -36px;
}

.ztree li span.button.noline_docu {
  background: none;
}

.ztree li span.button.ico_open:before{
  content: "\e65e";
  -webkit-font-smoothing: antialiased;
}
.ztree li span.button.ico_open ,
.ztree li span.button.ico_close{
  font-size: 18px;
  color: #999999;
  margin-right: 2px;
  margin-bottom: 4px;
  left: -6px;
}

.ztree li span.button.ico_close:before{
  content: "\e65e";
  -webkit-font-smoothing: antialiased;
}

.ztree li span.button.ico_docu:before{
  content: "\e65e";
  -webkit-font-smoothing: antialiased;
}
.ztree li span.button.ico_docu {
  font-size: 18px;
  color: #999999;
  margin-right: 2px;
  margin-bottom: 4px;
  left: -6px;
}


.ztree li span.button.ico_loading {
  margin-right: 2px;
  background: url(../images/loading.gif) no-repeat scroll 0 0 transparent;
  vertical-align: top;
  *vertical-align: middle;
}

ul.tmpTargetzTree {
  background-color: #FFE6B0;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

span.tmpzTreeMove_arrow {
  width: 16px;
  height: 30px;
  display: inline-block;
  padding: 0;
  margin: 11px 0 0 -4px;
  border: 0 none;
  position: absolute;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -110px -80px;
  background-image: url("../images/zTreeStandard.png");
  *background-image: url("../images/zTreeStandard.gif");
}

ul.ztree.zTreeDragUL {
  margin: 0;
  padding: 0;
  position: absolute;
  width: auto;
  min-height: 0;
  height: auto;
  overflow: hidden;
  background-color: #cfcfcf;
  border: 1px #00B83F dotted;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.zTreeMask {
  z-index: 10000;
  background-color: #cfcfcf;
  opacity: 0.0;
  filter: alpha(opacity=0);
  position: absolute;
}

ul.ztree {
  width: auto;
  height: 100%;
  min-height: calc(100vh - 118px);
  overflow-x: auto;
  overflow-y: hidden;
  margin-right: 20px;
}

.treeBox .dropdown {
  position: absolute;
  right: 1px;
  /*top: 0;*/
  height: 30px;
  /* text-align: right;*/
  line-height: 30px;
  background-color: white;
  display: inline-block;
}

.treeBox .dropdown-menu dropdown-menu-right {
  background-color: #ccc;
}

.treeBox .dropdown-menu {
  position: absolute;
  width: 150px;
  border: none;
}

.treeBox .editSelected {
  border: 1px solid #a6a6ff;
}

.editBtn {
  position: inherit;
  right: 5px;
  height: 40px;
  z-index: 1;
}
.editBtn .icon-organiz-more{
  font-size: 19px;
  color:#d0d0d9!important;
}


.heightLight {
  position: absolute;
  background:#f2f5f7;
  width: 260px;
  left: 0;
  display: none;
  height: 40px;
  z-index: 0;
  pointer-events: none;
}

.heightLight.on {
  display: block;
}

