.succeed{width: 354px;text-align: center}
.succeed-logo{text-align: center;color: #1896f0;margin-bottom: 24px;}
.succeed-logo i{font-size: 88px;}
.succeed-text{font-size:20px;color:#333333;margin-bottom: 64px;}