<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkwin.goodscenter.mapper.ProductPackMapper">
  <resultMap id="BaseResultMap" type="com.thinkwin.common.model.db.ProductPack">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="package_id" jdbcType="VARCHAR" property="packageId" />
    <result column="category_code" jdbcType="CHAR" property="categoryCode" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>