<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkwin.goodscenter.mapper.ProductPackUpgradeRuleMapper">
  <resultMap id="BaseResultMap" type="com.thinkwin.common.model.db.ProductPackUpgradeRule">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="product_pack" jdbcType="CHAR" property="productPack" />
    <result column="upgrade_to" jdbcType="CHAR" property="upgradeTo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>