<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkwin.promotion.mapper.PromotionItemMapper">
  <resultMap id="BaseResultMap" type="com.thinkwin.common.model.promotion.PromotionItem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="rule_code" jdbcType="CHAR" property="ruleCode" />
    <result column="promotion_code" jdbcType="CHAR" property="promotionCode" />
    <result column="enabled" jdbcType="INTEGER" property="enabled" />
  </resultMap>
</mapper>