<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkwin.yuncm.mapper.InfoTaskTerminalMiddleMapper">
  <resultMap id="BaseResultMap" type="com.thinkwin.common.model.db.InfoTaskTerminalMiddle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="boot_down_task_id" jdbcType="VARCHAR" property="bootDownTaskId" />
    <result column="terminal_id" jdbcType="VARCHAR" property="terminalId" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="run_status" jdbcType="VARCHAR" property="runStatus" />
    <result column="run_time" jdbcType="TIMESTAMP" property="runTime" />
  </resultMap>
</mapper>