<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkwin.yuncm.mapper.InfoReleaseTerminalMiddleMapper">
  <resultMap id="BaseResultMap" type="com.thinkwin.common.model.db.InfoReleaseTerminalMiddle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="terminal_id" jdbcType="VARCHAR" property="terminalId" />
    <result column="restart_log_id" jdbcType="VARCHAR" property="restartLogId" />
  </resultMap>
</mapper>