<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkwin.yuncm.mapper.YuncmDeviceServiceMapper">
  <resultMap id="BaseResultMap" type="com.thinkwin.common.model.db.YuncmDeviceService">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="creater_id" jdbcType="VARCHAR" property="createrId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifyer_id" jdbcType="VARCHAR" property="modifyerId" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="delete_state" jdbcType="VARCHAR" property="deleteState" />
    <result column="reserve_1" jdbcType="VARCHAR" property="reserve1" />
    <result column="reserve_3" jdbcType="VARCHAR" property="reserve3" />
    <result column="reserve_2" jdbcType="VARCHAR" property="reserve2" />
  </resultMap>



  <select id="selectYuncmDeviceService" resultMap="BaseResultMap" >
    SELECT device.* FROM  yunmc_room_device_service AS room INNER JOIN yuncm_device_service AS device
    WHERE room.device_service_id = device.id AND room.meeting_root_id = #{id}
    ORDER  BY device.create_time
  </select>


</mapper>