<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkwin.yuncm.mapper.YuncmRoomAreaMapper">
  <resultMap id="BaseResultMap" type="com.thinkwin.common.model.db.YuncmRoomArea">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="pid" jdbcType="VARCHAR" property="pid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="is_default" jdbcType="VARCHAR" property="isDefault" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="creater_id" jdbcType="VARCHAR" property="createrId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifyer_id" jdbcType="VARCHAR" property="modifyerId" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="delete_state" jdbcType="CHAR" property="deleteState" />
    <result column="reserve_1" jdbcType="VARCHAR" property="reserve1" />
    <result column="reserve_3" jdbcType="VARCHAR" property="reserve3" />
    <result column="reserve_2" jdbcType="VARCHAR" property="reserve2" />
  </resultMap>
</mapper>