<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkwin.yuncm.mapper.YunmcRoomDeviceServiceMapper">
  <resultMap id="BaseResultMap" type="com.thinkwin.common.model.db.YunmcRoomDeviceService">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="meeting_root_id" jdbcType="VARCHAR" property="meetingRootId" />
    <result column="device_service_id" jdbcType="VARCHAR" property="deviceServiceId" />
  </resultMap>
</mapper>