<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkwin.yuncm.mapper.YunmeetingParticipantsReplyMapper">
  <resultMap id="BaseResultMap" type="com.thinkwin.common.model.db.YunmeetingParticipantsReply">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="reply_state" jdbcType="VARCHAR" property="replyState" />
    <result column="conference_id" jdbcType="VARCHAR" property="conferenceId" />
    <result column="participants_id" jdbcType="VARCHAR" property="participantsId" />
    <result column="reply_time" jdbcType="TIMESTAMP" property="replyTime" />
    <result column="reserve_1" jdbcType="VARCHAR" property="reserve1" />
    <result column="reserve_2" jdbcType="VARCHAR" property="reserve2" />
    <result column="reserve_3" jdbcType="VARCHAR" property="reserve3" />
  </resultMap>

  <select id="selectAllReplyByMeetingIds" resultMap="BaseResultMap">
    SELECT * FROM  yunmeeting_participants_reply where 1 = 1
    <if test="meetingIds != null">
      and conference_id in
      <foreach collection="meetingIds" item="listId" open="(" close=")"
               separator=",">
        #{listId}
      </foreach>
    </if>
  </select>
</mapper>